/* For my sanity, border-box everything */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h1, h2, h3 {
    margin: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: inherit;
    height: inherit;
    font-family: 'Nanum Gothic', 'Nanum Gothic Coding', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 20px;
        
    background-color: #000;
}

.page-container {
    background-color: #fff;
    border: 2px solid black;
    min-height: inherit;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    max-width: 4032px;
    max-height: 3024px;
    filter: gray;
}

@media only screen and (max-width:900px){
    body {
        padding: 0;
    }
}

.central-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    max-width: 900px;
    
    background-color: rgba(255, 255, 255, 0.9);
    /*! -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
    /*! box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
}

.cam-details__container {
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
}

.cam-experience__items, .cam-education__items, .cam-details__contact-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cam-details__profile-picture {
    border: 2px solid black;
    padding: 2px;
    max-width: 125px;
    max-height: 125px;
    min-width: 90px;
    min-height: 90px;
    object-fit: cover;
}

.cam-details__details-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem;
}

.cam-details__my-name {
    display: block;
    margin: 0;
}

.cam-details__contact-details {
    flex-grow: 1;
    display: flex;
}
.cam-details__contact-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.cam-details__contact-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow:  ellipsis;
    vertical-align: middle;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.cam-experience__divider {
    display: block;
    border-bottom: 1px solid #7a7a7a;
    width: calc(100% - 10rem);
    margin: 0 auto;
    padding: 0.5rem 0;
}

.cam-experience {
    padding: 0.5em 0.5em;
}

.cam-experience__item {
    padding: 0.5rem 0;
}

.cam-experience__title_main {
    text-align: center;
    font-weight: 200;
}

.cam-experience__location {
    display: block;
    font-size: 0.8em;
    color: rgb(68, 68, 68);
}

.cam-experience__tech {
    display: block;
    font-size: 0.8em;
    color: rgb(68, 68, 68);
    font-weight: 800;
}

.cam-experience__description {
    display: block;
    padding: 0.3em 0;
}

.small-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 0.5em;
    align-self: center;
    object-fit: contain;
}

